@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
}

.react-calendar {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 650px !important;
}

.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__month-view__days__day {
  background-color: #fff;
  border: 1px solid #ccc !important;
  border-radius: 5px;
  height: 100px !important;
  padding: 2px !important;
}

.saturday {
  color: black !important;
}

.present-day {
  color: rgb(65, 176, 110) !important;
}

.absent-day {
  color: rgb(231, 41, 41) !important;
}


.half-day {
  color: rgb(177, 166, 10) !important;
}

.incomplete-day {
  color: grey;
}

.react-calendar__tile--active {
  background-color: lightgrey !important;
  color: black !important;
}